USE [master]
GO
/****** Object:  Database [NET TP2]    Script Date: 9/8/2018 20:33:56 ******/
CREATE DATABASE [NET TP2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NET TP2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NET TP2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NET TP2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NET TP2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NET TP2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NET TP2]
GO
USE [NET TP2]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/8/2018 20:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[NombreUsuario] [text] NOT NULL,
	[Contraseña] [text] NOT NULL,
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[TipoUsuario] [smallint] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 
GO
INSERT [dbo].[Usuario] ([NombreUsuario], [Contraseña], [IdUsuario], [TipoUsuario]) VALUES (N'Jorgito', N'Jorgito', 1, 1)
GO
INSERT [dbo].[Usuario] ([NombreUsuario], [Contraseña], [IdUsuario], [TipoUsuario]) VALUES (N'juan perez', N'algo', 2, 2)
GO
INSERT [dbo].[Usuario] ([NombreUsuario], [Contraseña], [IdUsuario], [TipoUsuario]) VALUES (N'fff', N'23', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
